<!DOCTYPE html>
<html>
  <head>
    <!--******************** Meta Data ************************-->
    <%= display_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <!--******************* Stylesheets ***********************-->
    <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
    <!--******************* JavaScript ***********************-->
    <%= javascript_include_tag "application", params[:controller] %>
  </head>
  <body>
    <!-- ********************** Header *********************** -->
    <%= render '/layouts/header' %>
    <!-- ******************** Main Content ******************* -->
    <%= yield %>
    <!-- ********************** Footer *********************** -->
    <%= render '/layouts/footer' %>
  </body>
</html>
